body {
  font-family: Roboto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
  }
}

h1,
h2,
h3,
p,
ul,
button,
li,
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.page-header {
  position: relative;
}

@media screen and (max-width: 767px) {
  .page-header {
    height: 271px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    height: 433px;
  }
}

@media screen and (min-width: 1600px) {
  .page-header {
    height: 1083px;
  }
}

.page-header__overlay {
  background-color: #212121;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .page-header__overlay {
    background-image: url(../img/Legion_mobile.jpg);
    height: 271px;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .page-header__overlay {
    background-image: url(../img/Legion_mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .page-header__overlay {
    background-image: url(../img/Legion_tab.jpg);
    height: 433px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1599px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1599px) and (min-resolution: 2dppx) {
  .page-header__overlay {
    background-image: url(../img/Legion_tab@2x.jpg);
  }
}

@media screen and (min-width: 1600px) {
  .page-header__overlay {
    background-image: url(../img/Legion_desctop.jpg);
    height: 1083px;
  }
}

@media screen and (min-width: 1600px) and (min-device-pixel-ratio: 2), screen and (min-width: 1600px) and (min-resolution: 192dpi), screen and (min-width: 1600px) and (min-resolution: 2dppx) {
  .page-header__overlay {
    background-image: url(../img/Legion_desctop@2x.jpg);
  }
}

.page-header__legion-logo {
  position: absolute;
}

@media screen and (max-width: 767px) {
  .page-header__legion-logo {
    left: 7%;
    top: 50%;
    height: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .page-header__legion-logo {
    left: 7%;
    top: 45%;
    height: 200px;
  }
}

@media screen and (min-width: 1600px) {
  .page-header__legion-logo {
    left: 7%;
    top: 8%;
    height: 888px;
  }
}

.page-header__title {
  position: absolute;
  display: inline-block;
  color: white;
  font-weight: 700;
  line-height: 0.3;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .page-header__title {
    font-size: 20px;
    left: 20%;
    bottom: 14%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .page-header__title {
    font-size: 45px;
    left: 20%;
    bottom: 10%;
  }
}

@media screen and (min-width: 1600px) {
  .page-header__title {
    font-size: 98px;
    left: 24%;
    bottom: 12%;
  }
}

.page-header__lenovo-logo {
  position: absolute;
}

@media screen and (max-width: 767px) {
  .page-header__lenovo-logo {
    right: 0;
    bottom: 10%;
    height: 75px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .page-header__lenovo-logo {
    right: 0;
    bottom: 10%;
    height: 150px;
  }
}

@media screen and (min-width: 1600px) {
  .page-header__lenovo-logo {
    right: 0;
    bottom: 10%;
    height: 300px;
  }
}

.game-productivity {
  position: relative;
}

@media screen and (max-width: 767px) {
  .game-productivity {
    height: 271px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .game-productivity {
    height: 433px;
  }
}

@media screen and (min-width: 1600px) {
  .game-productivity {
    height: 1083px;
  }
}

.game-productivity__overlay {
  background-color: #212121;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .game-productivity__overlay {
    background-image: url(../img/layer_mobile.jpg);
    height: 271px;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .game-productivity__overlay {
    background-image: url(../img/layer_mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .game-productivity__overlay {
    background-image: url(../img/Layer_tab.jpg);
    height: 433px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1599px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1599px) and (min-resolution: 2dppx) {
  .game-productivity__overlay {
    background-image: url(../img/Layer_tab@2x.jpg);
  }
}

@media screen and (min-width: 1600px) {
  .game-productivity__overlay {
    background-image: url(../img/Layer_desctop.jpg);
    height: 1083px;
  }
}

@media screen and (min-width: 1600px) and (min-device-pixel-ratio: 2), screen and (min-width: 1600px) and (min-resolution: 192dpi), screen and (min-width: 1600px) and (min-resolution: 2dppx) {
  .game-productivity__overlay {
    background-image: url(../img/Layer_desctop@2x.jpg);
  }
}

.game-productivity__title {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(123deg, #4facfe, #00f2fe);
  position: absolute;
  display: inline-block;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .game-productivity__title {
    font-size: 15px;
    left: 7%;
    top: 8%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .game-productivity__title {
    font-size: 35px;
    left: 7%;
    top: 8%;
  }
}

@media screen and (min-width: 1600px) {
  .game-productivity__title {
    font-size: 76px;
    left: 7%;
    top: 8%;
  }
}

.game-productivity__legion-open {
  position: absolute;
}

@media screen and (max-width: 767px) {
  .game-productivity__legion-open {
    right: 40%;
    top: 50%;
    height: 30%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .game-productivity__legion-open {
    height: 50%;
    right: 35%;
    top: 35%;
  }
}

@media screen and (min-width: 1600px) {
  .game-productivity__legion-open {
    right: 45%;
    top: 50%;
  }
}

@media screen and (max-width: 767px) {
  .icon-intel::before {
    background-image: url(../img/intel_m.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .icon-intel::before {
    background-image: url(../img/intel_t.png);
  }
}

@media screen and (min-width: 1600px) {
  .icon-intel::before {
    background-image: url(../img/intel.png);
  }
}

@media screen and (max-width: 767px) {
  .icon-16::before {
    background-image: url(../img/16_m.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .icon-16::before {
    background-image: url(../img/16_t.png);
  }
}

@media screen and (min-width: 1600px) {
  .icon-16::before {
    background-image: url(../img/16.png);
  }
}

@media screen and (max-width: 767px) {
  .icon-rtx::before {
    background-image: url(../img/rtx_m.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .icon-rtx::before {
    background-image: url(../img/rtx_t.png);
  }
}

@media screen and (min-width: 1600px) {
  .icon-rtx::before {
    background-image: url(../img/rtx.png);
  }
}

@media screen and (max-width: 767px) {
  .icon-AI::before {
    background-image: url(../img/AI_m.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .icon-AI::before {
    background-image: url(../img/AI_t.png);
  }
}

@media screen and (min-width: 1600px) {
  .icon-AI::before {
    background-image: url(../img/AI.png);
  }
}

.productivity {
  width: 40vw;
}

@media screen and (max-width: 767px) {
  .productivity {
    margin-left: 60%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .productivity {
    padding-top: 15px;
    margin-left: 60%;
  }
}

@media screen and (min-width: 1600px) {
  .productivity {
    padding-top: 110px;
    margin-left: 55%;
  }
}

@media screen and (max-width: 767px) {
  .productivity__item:last-child {
    margin-bottom: 0;
  }
  .productivity__item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .productivity {
    display: flex;
    flex-wrap: wrap;
  }
  .productivity__item {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .productivity__item {
    width: calc(50% - 30px);
    margin-bottom: 140px;
  }
  .productivity__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .productivity__item:nth-child(2n) {
    margin-right: 0;
  }
  .productivity__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.productivity__item::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .productivity__item::before {
    height: 30px;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .productivity__item::before {
    height: 80px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .productivity__item::before {
    height: 131px;
    margin-bottom: 30px;
  }
}

.productivity__description {
  text-align: center;
  color: white;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .productivity__description {
    font-size: 7px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .productivity__description {
    font-size: 10px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1600px) {
  .productivity__description {
    font-size: 24px;
    line-height: 1.4;
  }
}
/*# sourceMappingURL=main.css.map */