.audio {
  position: relative;
  @media screen and (max-width: 767px) {
    height: 271px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1599px) {
    height: 433px;
  }
  @media screen and (min-width: $desctop) {
    height: 1083px;
  }
}

.audio__description {
  display: flex;
  align-items: end;
  //   width: 90vw;
  position: absolute;
  bottom: 5%;
  left: 5%;
}
.audio__overlay {
  background-color: $main-color;
  // width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 767px) {
    background-image: url(../img/18_Legion_5P_mobile.jpg);
    height: 271px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/18_Legion_5P_mobile@2x.jpg);
    }
  }
  @media screen and (min-width: $tablet) and (max-width: 1599px) {
    background-image: url(../img/18_Legion_5P_tab.jpg);
    height: 433px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/18_Legion_5P_tab@2x.jpg);
    }
  }
  @media screen and (min-width: $desctop) {
    background-image: url(../img/18_Legion_5P_desctop.jpg);
    height: 1083px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/18_Legion_5P_desctop@2x.jpg);
    }
  }
}

.audio__title {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(0, #4facfe, #00f2fe);

  // display: block;
  // float: left;
  font-weight: 700;
  line-height: 1.2;

  @media screen and (max-width: 767px) {
    font-size: 15px;
    // left: 7%;
    // top: 8%;
    margin-right: 5px;
    width: 25vw;
  }
  @media screen and (min-width: $tablet) and (max-width: 1599px) {
    font-size: 35px;
    // left: 7%;
    // top: 8%;
    margin-right: 20px;
    width: 20vw;
  }
  @media screen and (min-width: $desctop) {
    font-size: 76px;
    // left: 7%;
    // top: 8%;
    margin-right: 20px;
    width: 25vw;
  }
}

.audio__text {
  color: rgb(255, 255, 255);
  letter-spacing: 0.03em;
  // display: inline;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    font-size: 7px;
    line-height: 0.95;
    width: 55vw;
  }

  @media screen and (min-width: $tablet) and (max-width: 1023px) {
    font-size: 12px;
    line-height: 1.1;
    width: 55vw;
  }

  @media screen and (min-width: 1024px) and (max-width: 1599px) {
    font-size: 15px;
    line-height: 1.08;
    width: 55vw;
  }
  @media screen and (min-width: $desctop) {
    font-size: 24px;
    line-height: 1.4;
    width: 55vw;
  }
}
