body {
  // background-color: $main-color;
  font-family: Roboto;
  //   max-width: 1920px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
::after,
::before {
  box-sizing: border-box;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  //   background-color: yellowgreen;

  @media screen and (min-width: $mobile) {
    width: $mobile;
    // background-color: aqua;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    // background-color: tomato;
  }
  @media screen and(min-width: $desctop) {
    width: $desctop;
    // background-color: tan;
  }
}
