.Geforse {
  position: relative;
  @media screen and (max-width: 767px) {
    height: 271px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1599px) {
    height: 433px;
  }
  @media screen and (min-width: $desctop) {
    height: 1083px;
  }
}

.Geforse__description {
  width: 28vw;
  position: absolute;
  top: 11%;
  left: 5%;
  text-align: left;
}
.Geforse__overlay {
  background-color: $main-color;
  // width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 767px) {
    background-image: url(../img/04_Legion_5P_Intel_mobile.jpg);
    height: 271px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/04_Legion_5P_Intel_mobile@2x.jpg);
    }
  }
  @media screen and (min-width: $tablet) and (max-width: 1599px) {
    background-image: url(../img/04_Legion_5P_Intel_tab.jpg);
    height: 433px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/04_Legion_5P_Intel_tab@2x.jpg);
    }
  }
  @media screen and (min-width: $desctop) {
    background-image: url(../img/04_Legion_5P_Intel_desctop.jpg);
    height: 1083px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/04_Legion_5P_Intel_desctop@2x.jpg);
    }
  }
}

.Geforse__title {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(123deg, #4facfe, #00f2fe);

  display: inline-block;

  font-weight: 700;
  line-height: 1.2;

  @media screen and (max-width: 767px) {
    font-size: 15px;
    left: 7%;
    top: 8%;
    margin-bottom: 5px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1599px) {
    font-size: 35px;
    left: 7%;
    top: 8%;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $desctop) {
    font-size: 76px;
    left: 7%;
    top: 8%;
    margin-bottom: 20px;
  }
}

.Geforse__text {
  color: rgb(255, 255, 255);
  letter-spacing: 0.03em;
  @media screen and (max-width: 767px) {
    font-size: 7px;
    line-height: 1.07;
  }

  @media screen and (min-width: $tablet) and (max-width: 1599px) {
    font-size: 10px;
    line-height: 1.1;
  }
  @media screen and (min-width: $desctop) {
    font-size: 24px;
    line-height: 1.4;
  }
}
